In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
a=503
print(oct(a))

0o767

In [4]:
a=24
hex(a)

'0x18'

In [5]:
b=11.34
type(b)

float

v=True + False
print(v)

a=True+True
print(a)

In [6]:
a='d'
type(a)

str

In [7]:
name="say hi's"
print(name)

say hi's

In [8]:
a=5+10j
type(a)

complex

In [9]:
a=10
print(a)

10

In [10]:
a=10
float(a)

10.0

In [7]:
a=10.5
b=True
c="10"
d="hello"
print(int(a))
print(int(b))
print(int(c))
# print(int(d))

10
1
10

# Converting to bool

In [14]:
a=10
b=10.5
c="Hi"
d="20"
e=True
f=0
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))

True
True
True
True
True
False

#  List

In [15]:
std_marks=[1,2,3,4,4,6]
print(std_marks)
type(std_marks)

[1, 2, 3, 4, 4, 6]

list

In [16]:
std_marks[0]

1

In [17]:
std_marks[-0]

1

In [18]:
std_marks[-1]

6

In [19]:
std_marks[-4]

3

In [20]:
# printing homogenous elements

In [21]:
info=[10,'C',"Hello",12.6]
print(info)

[10, 'C', 'Hello', 12.6]

In [22]:
marks=[56,87,9,23]
print("marks before",marks)
marks[2]="Hello"
print("marks after",marks)

marks before [56, 87, 9, 23]
marks after [56, 87, 'Hello', 23]

In [23]:
marks.append(34)

In [24]:
print(marks)

[56, 87, 'Hello', 23, 34]

In [37]:
marks.remove('Hello')
print(marks)

ValueError: list.remove(x): x not in list

#  Tuple

In [28]:
student=(1,'Patrik',22)
print(student)

(1, 'Patrik', 22)

#  Set

In [29]:
std_id={1,3,4,5,6}
print(std_id)

{1, 3, 4, 5, 6}

In [31]:
std_id

{1, 3, 4, 5, 6}

In [9]:
std_id={1,11, 3, 4, 5, 6,6,1}
print(std_id)

{1, 3, 4, 5, 6, 11}

In [10]:
std_id.add(9)
std_id

{1, 3, 4, 5, 6, 9, 11}

In [12]:
std_id.add('hello')
std_id

{1, 11, 3, 4, 5, 6, 9, 'hello'}

In [13]:
std_id.remove(4)
std_id
print(std_id)

{1, 3, 5, 6, 9, 11, 'hello'}

#  Dictionary

In [15]:
student={'name':'patrik','age':22,'gender':'m'}
print(student)
type(student)

{'name': 'patrik', 'age': 22, 'gender': 'm'}

dict

In [16]:
student['name']

'patrik'

In [40]:
student["name"]

'patrik'

In [17]:
student['age']

22

In [18]:
type(student['age'])

int

In [20]:
print(type(student['name']))
print(type(student['age']))

<class 'str'>
<class 'int'>

In [46]:
details={'name':'jhon','name':'ram','age':22,'id':1}
# print(details)
details

{'name': 'ram', 'age': 22, 'id': 1}

In [47]:
details['age']=30
print(details)

{'name': 'ram', 'age': 30, 'id': 1}

In [22]:
data={
    'name':['dinga','dingi','hello'],
    'age':[22,34,56]
}
print(data)

{'name': ['dinga', 'dingi', 'hello'], 'age': [22, 34, 56]}

In [23]:
data['name']=['dinga','dingi','Patrik']
data

{'name': ['dinga', 'dingi', 'Patrik'], 'age': [22, 34, 56]}

#  Byte

In [51]:
x=[10,20,30,40]
y=bytes(x)

In [52]:
y

b'\n\x14\x1e('

#  ByteArray

In [53]:
y1=bytearray(x)

In [54]:
y1

bytearray(b'\n\x14\x1e(')

#  Range

In [55]:
a=range(10)
a

range(0, 10)

In [56]:
a=range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [74]:
b=range(2,10,2)
for i in b:
    print(i)

2
4
6
8

In [75]:
# WAP to print numbers

In [10]:
num1=int(input("Enter the number :"))
for i in range(1,num1):
    print("i",i)

Enter the number :10
i 1
i 2
i 3
i 4
i 5
i 6
i 7
i 8
i 9

In [11]:
# WAP to add two numbers

In [26]:
num=int(input("Enter Numer 1 :"))
num2=int(input("Enter number 2 :"))
print('total:',num+num2)

Enter Numer 1 :3
Enter number 2 :4
total: 7

In [14]:
#WAP to read details and print details

In [15]:
name=input("Enter name:")
gender=input("Enter gender:")
loc=input("Enter location:")
print("Name is :",name)
print("Gender is:",gender)
print("Location is:",loc)

Enter name:hello
Enter gender:m
Enter location:loc
Name is : hello
Gender is: m
Location is: loc

In [16]:
print("student details",name,gender,loc)

student details hello m loc

In [21]:
a=range(5,10)
for i in a:
    print(i,end="")

56789

In [22]:
print(list)

<class 'list'>

In [23]:
print(tuple)

<class 'tuple'>

In [32]:
name="mahesh"
age=25
salary=100000000
print("hello {0} your age is {1} and your sal {2}".format(name, age, salary))

hello mahesh your age is 25 and your sal 100000000

In [29]:
#WAP to print if number is greater than 70

In [31]:
num=int(input("Enter number"))
if(num>70):
    print("Number is gretaer than 70")
else:
    print("Number is less than 70")

Enter number456
Number is gretaer than 70

In [34]:
name="dinga"
age=22
password="dinga22"
confirmPass=input("Enter Confirm Password:")
if(confirmPass==password):
    print("Successfull login")
else:
    print("Invalid Password")

Enter Confirm Password:dinga22
Successfull login

#  if-elif-else

In [46]:
marks=int(input("Enter marks: "))
if(marks>=70):
    print("You are eligible to Microsoft,Google")
elif(marks >65 and marks <=69):
    print("You are eligible to TCS")
elif(marks>60 and marks<=65):
    print("Your are eligible to Infosys")
elif(marks>50 and marks<=59):
    print("You are eligible to Wipro")
elif(marks>=40):
    print("You are eligible to GHMC")
else:
    print("You are not eligible to any company")

Enter marks: 75
You are eligible to Microsoft,Google

#  For loop

In [43]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [47]:
i=6
for i in range(1):
    print("h")

h

In [51]:
j=10
for i in range(j):
    if i%2==0:
        print(i)

0
2
4
6
8

In [52]:
# decending order

In [53]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [54]:
# WAP to find sum of all values in list

In [58]:
l=[2,3,4,5,6,7]
sum=0
for i in l:
    sum=sum+i    
print(sum)

27

In [59]:
# WAP to remove duplicates

In [62]:
l=[2,3,4,5,6,6,4,7]
j=[]
for i in l:
    if(i not in j):
        j.append(i)
print(j)

[2, 3, 4, 5, 6, 7]

In [63]:
#WAP to print charcters in String

In [64]:
name="Hello"
for i in name:
    print(i)

H
e
l
l
o

#  While loop

In [65]:
#WAP to print name 10 times

In [66]:
i=1
while(i<10):
    print("Hello")
    i=i+1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [67]:
#WAP to print Sum of n natural numbers

In [49]:
num=int(input("Enter your number :"))
sum=0
i=1
while(i<num):
    sum=sum+i
    i=i+1
print(sum)

Enter your number :5
10

#  Pattern programms

In [3]:
# WAP to print below pattern

In [51]:
n=int(input("Enter number of rows :"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter number of rows5
*
**
***
****
*****

#  Transfer statement
# break,continue,pass

In [10]:
l=[56,76,38,89,90,87]
for i in l:
    if i<40:
        print('failed')
        break
    else:
        print(i)

56
76
failed

In [11]:
# continue

In [12]:
l=[56,76,38,89,90,87]
for i in l:
    if(i<40):
        continue
    else:
        print(i)

56
76
89
90
87

In [13]:
#prepare list dynamically

In [18]:
std_info=eval(input("Enter Students info as list"))
print(std_info)
type(std_info)

Enter Students info as list{2,3,4,2,3,4}
{2, 3, 4}

set

In [19]:
li=[1,2,3,4,5,6,7]
l2=li
print(l2)

[1, 2, 3, 4, 5, 6, 7]

In [22]:
l1=list(range(1,10))
l1
type(li)

list

In [23]:
t1=tuple(range(1,10))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
var=1_2_3_4_5
var
type(var)

int

In [28]:
# accesing list of values through index

In [29]:
l=[1,2,3,4,5]
print(l[0])

1

In [30]:
l[0]=100
print(l)

[100, 2, 3, 4, 5]

#  slice operation

In [32]:
l=[1,2,3,4,5,6,9,10,11,12]
l[2:5]

[3, 4, 5]

In [36]:
l=[1,2,3,4,5,6,9,10,11,12]
l[2:7:3]

[3, 6]

In [37]:
l=[1,2,3,4,5,6,9,10,11,12]
l[0:9]

[1, 2, 3, 4, 5, 6, 9, 10, 11]

In [42]:
l=[1,2,3,4,5,6,9,10,11,12]
l[0:9:3]

[1, 4, 9]

In [43]:
#functions


l=[1,2,3,4,5]
len(l)

5

In [46]:
l=[2,3,4,5,5,2,2]
l.count(2)

3

In [47]:
l.index(4)

2

In [48]:
l.index(5)

3

In [49]:
l.index(2)

0

In [50]:
l.append(44)

In [51]:
l

[2, 3, 4, 5, 5, 2, 2, 44]

In [52]:
l.insert(1,98)

In [53]:
l

[2, 98, 3, 4, 5, 5, 2, 2, 44]

In [55]:
len(l)

9

In [57]:
l=[1,2,3,4]
l2=[5,6,7,8]
l.extend(l2)
print('first list',l)
print('second list',l2)

first list [1, 2, 3, 4, 5, 6, 7, 8]
second list [5, 6, 7, 8]

In [58]:
l=[1,2,3,4]
l2=[5,6,7,8]
l2.extend(l)
print('first list',l)
print('second list',l2)

first list [1, 2, 3, 4]
second list [5, 6, 7, 8, 1, 2, 3, 4]

In [59]:
l.remove(2)

In [60]:
print(l)

[1, 3, 4]

In [61]:
l.pop()

4

In [62]:
l2.pop()

4

In [70]:
l3=[121,2,3,5,2,11]
l3.pop()
print(l3)

[121, 2, 3, 5, 2]

In [69]:
l4=[121,2,3,5,2,11]
l4.pop()
l4

[121, 2, 3, 5, 2]

In [72]:
s=[90,76,121,675,2]
s.sort()
print(s)

[2, 76, 90, 121, 675]

In [73]:
s=[90,76,121,675,2]
s.sort(reverse=True)
print(s)

[675, 121, 90, 76, 2]

# Alising and cloning list objects

In [74]:
l=[10,20,40,30,50]
l1=l
print(l1)

[10, 20, 40, 30, 50]

In [75]:
print(id(l))
print(id(l1))

1686433935552
1686433935552

In [76]:
l2=[1,2,3,4,5]
l3=l2
l3.append(56)
print('list l2:',l2)
print('list l3:',l3)
print(id(l2))
print(id(l3))

list l2: [1, 2, 3, 4, 5, 56]
list l3: [1, 2, 3, 4, 5, 56]
1686430433792
1686430433792

In [77]:
# cloning

In [82]:
z=[0,9,8,7,6]
z[:]

[0, 9, 8, 7, 6]

In [83]:
z1=z[:]
print(z1)

[0, 9, 8, 7, 6]

In [85]:
print(z)
print(z1)
print(id(z))
print(id(z1))

[0, 9, 8, 7, 6]
[0, 9, 8, 7, 6]
1686430454720
1686430119744

In [86]:
z+z1

[0, 9, 8, 7, 6, 0, 9, 8, 7, 6]

In [87]:
z*3

[0, 9, 8, 7, 6, 0, 9, 8, 7, 6, 0, 9, 8, 7, 6]

In [88]:
z4=z+z1
print(z4)
print("z4 *3:",z4*3)

[0, 9, 8, 7, 6, 0, 9, 8, 7, 6]
z4 *3: [0, 9, 8, 7, 6, 0, 9, 8, 7, 6, 0, 9, 8, 7, 6, 0, 9, 8, 7, 6, 0, 9, 8, 7, 6, 0, 9, 8, 7, 6]

In [89]:
z==z1

True

In [90]:
z1==z4

False

In [91]:
z4.clear()

In [92]:
z4

[]

In [94]:
z1

[0, 9, 8, 7, 6]

In [95]:
# list with in another list

In [96]:
std_info=['Hello',22,['hyd','xyz']]

In [97]:
std_info

['Hello', 22, ['hyd', 'xyz']]

In [98]:
std_info[2]

['hyd', 'xyz']

In [99]:
std_info[1]

22

In [100]:
l=[1,2,3,4,5]
l2=[6,7,8,9,10]
l+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
l=[1,2,3,4,5]
l2=[6,7,8,9,10]
j=0
l3=[]
for i in l:
    ele=i+l2[j]
    j=j+1
    l3.append(ele)
print(l3)

[7, 9, 11, 13, 15]

In [109]:
l=[1,2,3,4,5]
l2=[]
for i in l:
    if(i%2==0):
        l2.append(i)
print(l2)

[2, 4]

In [110]:
# list comprehension

In [111]:
#create a list with even numbers

In [113]:
s=[i for i in range(1,10) if(i%2==0)]
print(s)

[2, 4, 6, 8]

In [114]:
sq_num=[i*i for i in range(1,10)]
print(sq_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#  Tuple operations

In [117]:
t=eval(input("Enter values"))
print(t)
type(t)

Enter values(1,2,3,4,5)
(1, 2, 3, 4, 5)

tuple

In [118]:
# converting list to tuple

In [119]:
l=[1,2,3,4,5]
t=tuple(l)
print(t)
print(type(t))
print(type(l))

(1, 2, 3, 4, 5)
<class 'tuple'>
<class 'list'>

In [120]:
# converting tuple to list

In [121]:
t=(1,2,3,4,5)
l=list(t)
l

[1, 2, 3, 4, 5]

In [122]:
#repeatation operator

In [123]:
t=(10,20,30)
t2=t*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [126]:
t=(10,20,30)
t.index(20)

1

In [133]:
#sorting

t=(11,45,23,56,99)
t1=sorted(t)
print(t1)

[11, 23, 45, 56, 99]

In [135]:
t1=sorted(t,reverse=True)
t1

[99, 56, 45, 23, 11]

In [136]:
#packing and unpacking

In [137]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [143]:
d=z
z

[0, 9, 8, 7, 6]

In [144]:
# min and max functions

In [145]:
t=(10,2,4,99)
min(t)

2

In [146]:
max(t)

99

#  Set operations

In [147]:
s={1,2,3,4,5,6}
s.add(7)
s

{1, 2, 3, 4, 5, 6, 7}

In [148]:
l=[10,20,30,40,50]
s=set(l)
s

{10, 20, 30, 40, 50}

In [149]:
# update

In [150]:
s={10,20,30,40,50}
l=[22,23,24]
r=range(45,55)
s.update(l,r)
s

{10, 20, 22, 23, 24, 30, 40, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54}

In [153]:
s={1,4,5}
l=[2,3]
r=(19,2)
s.update(l,r)
s

{1, 2, 3, 4, 5, 19}

In [154]:
s={0,9,8,7,6}
s1=s.copy()
s1

{0, 6, 7, 8, 9}

In [155]:
print(id(s))
print(id(s1))

1686435397920
1686435398368

In [156]:
s.pop()

0

In [157]:
s

{6, 7, 8, 9}

In [158]:
s.pop()
s

{7, 8, 9}

In [159]:
s={1,2,3,4}
s.remove(5)

KeyError: 5

In [160]:
s={1,2,3,4}
s.discard(5)

In [161]:
s.clear()

In [162]:
s

set()

In [163]:
#union

In [164]:
s={1,2,3,4,5}
s2={6,7,8,9,10}
print(s.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [165]:
#intersection

In [167]:
s={1,2,3,4,5}
s2={5,6,7,8,9,10}
print(s.intersection(s2))

{5}

In [168]:
#difference

In [170]:
s={1,2,3,4,5}
s1={5,6,7,8,9}
s.difference(s1)

{1, 2, 3, 4}

In [171]:
#symmetric_difference

In [172]:
s={1,2,3,4,5,6}
s1={6,7,5,9,10}
s.symmetric_difference(s2)

{1, 2, 3, 4, 7, 8, 9, 10}

In [178]:
s="Python programming"
s1=set(s)
s1

{' ', 'P', 'a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y'}

In [182]:
'a' in s1

True

In [181]:
'z' in s1

False

In [183]:
'z' not in s1

True

In [184]:
# set comprehension

In [185]:
s1={i*i for i in range(1,10)}
s1

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
student_info={}
n=int(input("Enter number of students"))
i=1
while i<=n:
    name=input("Enter name :")
    marks=int(input("Enter marks :"))
    student_info[name]=marks
    i=i+1
print(student_info)

In [6]:
d={'name':'ram','age':22}
d

{'name': 'ram', 'age': 22}

In [7]:
d.get('name')

'ram'

In [8]:
d.keys()

dict_keys(['name', 'age'])

In [9]:
d.values()

dict_values(['ram', 22])

In [15]:
d1={'name':'jhon','age':23}
d2={'name':'dinga','age':24}
d1

{'name': 'jhon', 'age': 23}

In [19]:
d=dict[(100,'eswar'),(101,'praveen')]
d1={103:'rakesh',104:'vishnu'}
d.update(d1)
d

TypeError: 'type' object is not subscriptable

#  String operations

In [20]:
s1="Hello"
s1[0]

'H'

In [21]:
s1[-2]

'l'

In [22]:
s2="Python is programming lang"
s2[5:9]

'n is'

In [23]:
s1="Java"
s2="Java"
if s1==s2:
    print("both are equal")

both are equal

In [24]:
s="   python    "
print(s)

   python

In [25]:
print(s.rstrip())

   python

In [26]:
print(s.lstrip())

python

In [27]:
print(s.strip())

python

In [32]:
say="good morning world"
say.find("d")

3

In [33]:
say.index("morning")

5

In [35]:
print(say.find("d"))
print(say.rfind("d"))

3
17

In [37]:
print(say.index("d"))
print(say.rindex("d"))

3
17

In [39]:
print(say.count("d"))

2

In [41]:
say.count("good",0,2)

0

In [42]:
say.replace("morning","afternoon")

'good afternoon world'

In [43]:
say.split()

['good', 'morning', 'world']

In [46]:
say.split('?')

['good morning world']

In [48]:
wish="hello world"
wish.split('?')

['hello world']

In [49]:
"_".join(wish)

'h_e_l_l_o_ _w_o_r_l_d'

In [54]:
print("lowercase :",wish.lower())
print("Upper case :",wish.upper())
print("Swap case :",wish.swapcase())
print("Title :",wish.title())
print(wish.capitalize())

lowercase : good morning world
Upper case : GOOD MORNING WORLD
Swap case : GOOD MORNING WORLD
Title : Good Morning World
Good morning world

# Palindrome

In [57]:
str=input("Enter str")
if(str==str[::-1]):
    print("palindrome")
else:
    print("Not palindrome")

Enter strpk
Not palindrome

# Function

In [1]:
def welcome():
    print("hello")

welcome()

hello

In [2]:
def student_name(name):
    print("name:",name)
student_name("ram")

name: ram

In [4]:
def calculator(num1,num2):
    add=num1+num2
    sub=num1-num2
    mul=num1*num2
    div=num1/num2
    print(add)
    print(sub)
    print(mul)
    print(div)
calculator(10,2)

12
8
20
5.0

In [5]:
#  function with return type

def retu(num,num2):
    add=num+num2
    return add
ret=retu(10,2)
print(ret)

12

In [10]:
# func without args with return type

def colleageDetails():
    info="svn colleage"
    return info
cd=colleageDetails()
print(cd)

svn colleage

# Parameters

In [11]:
# positional arguments
# keyword arguments
# default arguments
# variable length arguments

def demo(a,b):
    print(a)
    print(b)
demo(10,2)

10
2

In [12]:
def demo(a,b):
    add=a+b
    return add
c=demo(10,2)
print(c)

12

In [16]:
def demo(a,b):
    add=a+b
    return add
c=demo(10,20)
print(c)

30

In [17]:
def demo2(a,b,c,d):
    print("a is :",a)
    print("b is:",b)
    print("c is:",c)
    print("d is:",d)
demo2(a=2,b=10,c=30,d=20)

a is : 2
b is: 10
c is: 30
d is: 20

In [19]:
def demo2(a,b,c,d):
    print("a is :",a)
    print("b is:",b)
    print("c is:",c)
    print("d is:",d)
demo2(1,2,3,4)

a is : 1
b is: 2
c is: 3
d is: 4

In [21]:
def display(a=0,b=0,c=0,d=0):
    print(a)
    print(b)
    print(c)
    print(d)
display(1,2)

1
2
0
0

In [22]:
# variable length arguments
def add(*n):
    print(n)
add(1,2)
add(3,4,5)

(1, 2)
(3, 4, 5)

In [24]:
def add(*n):
    print(n)
    sum=0
    for i in n:
        sum=sum+i
    print(sum)
add(1,2,3,4)

(1, 2, 3, 4)
10

In [27]:
# factorial 
def fact(n):
    if n==1:
        result=1
    else:
        result=n*fact(n-1)
    return result
fact(3)

6

# lambda function

In [30]:
sub=lambda a,b:a-b
sub(10,2)

8

In [32]:
# Square of function
sqr=lambda n:n*n
sqr(2)

4

In [36]:
# filter function
# filter(func,sequence)
l=[1,2,3,4,5,6,7]
fil=list(filter(lambda v:v%2==1,l))
fil

[1, 3, 5, 7]

# variables

In [39]:
# Local variable


def f1():
    a=10
    print(a)
def f2():
    print(a)
f1()
# f2()

10

In [42]:
# global variable
a=10
def f1():
    print(a)
def f2():
    print(a)
f1()
f2()

10
10

In [43]:
a=10
def f1():
    a=20
    print(a)
def f2():
    print(a)
f1()
f2()

20
10

# reduce function

In [46]:
from functools import *
l=[12,3,4,5,6,7]
li=reduce(lambda x,y:x+y,l)
print(li)

37

# Map

In [47]:
l=[1,2,3,4,5,6]
li=list(map(lambda x:x*x,l))
print(li)

[1, 4, 9, 16, 25, 36]

# function aliasing

In [50]:
addition=add
addition(1,2,3)
def add():

SyntaxError: unexpected EOF while parsing (2063805442.py, line 3)

# Generator

In [52]:
l=[1,2,3,4]
t=(i for i in l)
type(t)

generator

# yield

In [54]:
def my_generator():
    yield 'A'
    yield 'B'
    yield 'c'
g=my_generator()
print(g)
type(g)

<generator object my_generator at 0x0000027821787740>

generator

#  class and object

In [2]:
class Student:
    "student class with student info"
    def getDetails(self,name,age,gen):
        print(name)
        print(age)
        print(gen)
s1=Student()
s1.getDetails("deva",22,"male")
s2=Student()
s2.getDetails("shannu",23,"Male")

deva
22
male
shannu
23
Male

# Constructor

In [3]:
class colleage:
    def __init__(self,cname,carea,city):
        self.cname=cname
        self.carea=carea
        self.city=city
    def colleageDetails(self):
        print("Colleage Name :",self.cname)
        print("Colleage Area :",self.carea)
        print("Colleage city :",self.city)
c1=colleage("SVN","Kukatpally","Hydrabad")
c1.colleageDetails()
c2=colleage("Mvr","Kairathabad","Hydrabad")
c2.colleageDetails()

Colleage Name : SVN
Colleage Area : Kukatpally
Colleage city : Hydrabad
Colleage Name : Mvr
Colleage Area : Kairathabad
Colleage city : Hydrabad

In [7]:
# WAP to read 2 numbers and print minimum value
num1=int(input("Enter the 1st number"))
num2=int(input("Enter the 2nd number"))
min=num1 if num1<num2 else num2
print(min)

Enter the 1st number1
Enter the 2nd number1
1

In [11]:
# WAP to read 3 numbers and print the minimum value
 
num1=int(input("Enter the num1 :"))
num2=int(input("Enter the num2 :"))
num3=int(input("Enter the num3 :"))
min=num1 if num1<num2 else num2 if num2<num3 else num3
print("minimum number is :",min)

Enter the num1 :3
Enter the num2 :6
Enter the num3 :12
minimum number is : 3

# Special operator

In [12]:
# identity operator
# is
# is not

a=10
b=20
print(a is b)

False

In [13]:

a=10
b=20
print(a is not b)

True

In [15]:
# membership operators
# in
# not in

'H' in 'Hello'

True

In [16]:
'H' not in 'Hello'

False

In [17]:
5 in [1,2,3,4,5]

True

In [22]:
# instance variables

class employee:
    def __init__(self,ename,eage,esal):
        self.ename=ename
        self.eage=eage
        self.esal=esal
    def employeeDetails(self):
        print("Employee name :",self.ename)
        print("Employee age :",self.eage)
        print("Employee Salary :",self.esal)
e1=employee('Viraj','22',20000)
e1.employeeDetails()

# changing the employee details
e1.ename="anadh"
e1.employeeDetails()

Employee name : Viraj
Employee age : 22
Employee Salary : 20000
Employee name : anadh
Employee age : 22
Employee Salary : 20000

In [35]:
# Delete the instance variable
class employee:
    def __init__(self,name,sal,age,gen):
        self.name=name
        self.sal=sal
        self.age=age
        self.gen=gen
    def employeeDetails(self):
        print(self.name)
        print(self.age)
        print(self.sal)
        print(self.gen)
    def del_variable(self):
        del self.gen
e1=employee("mark",2000,22,"male")
e1.employeeDetails()
e1.del_variable()

mark
22
2000
male

In [38]:
# Static subject name

class Students:
    sub_name="python"
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def getStudents(self):
        print("Student name :",self.name)
        print("Student Age:",self.age)
        print("Student Marks :",self.marks)
        print("Subject Name: ",self.sub_name)
s1=Students("Deva",22,93)
s1.getStudents()

Student name : Deva
Student Age: 22
Student Marks : 93
Subject Name:  python

# Static method

In [41]:
class static_method:
    @staticmethod
    def add(x,y):
        print("sum is :",x+y)
s1=static_method
s1.add(10,2)

sum is : 12

In [42]:
# We can also access static method through class name

class statics:
    @staticmethod
    def add(x,y):
        print("sum is :",x+y)
statics.add(20,30)

sum is : 50

# class method

In [44]:
class classmethodExample:
    name="eswar"
    def __init__(self,sub):
        self.sub=sub
    @classmethod
    def f1(cls):
            print("name is :",cls.name)
c1=classmethodExample("Python")
c1.f1()

name is : eswar

In [46]:
class classExample:
    colleageName='CBIT'
    loc='HYD'
    def __init__(self,sub):
        self.sub=sub
    @classmethod    
    def f1(cls):
        print("Colleage Name :",cls.colleageName)
        print("Colleage location :",cls.loc)
    def f2(self):
        print("Subject :",self.sub)
c1=classExample("Java")
classExample.f1()
c1.f2()

Colleage Name : CBIT
Colleage location : HYD
Subject : Java

#  garbage collector

In [52]:
import gc
gc.enable
print(gc.isenabled())
print(gc.disable())

True
None

# Destructors

In [58]:
class methodExample:
    def __init(self,sub):
        self.sub=sub
    def __del__(self):
        print("Object Destruction")
sub=classmethod("Python")
sub=None

# Inheritance

In [62]:
# inheriting one class properties to another class
class parent:
    def parentMethod(self):
        print("parent method")
class child(parent):
    def childMethod(self):
        print("child method")
c=child()
c.childMethod()
c.parentMethod()

child method
parent method

In [67]:
# inheritance btn company and employee

class company:
    def company_details(self):
        print("Company name is Feuji")
        print("Company Loc is Hydrabad")
    def company_policy(self):
        print("Feuji has 5 branches")
class employee(company):
    def emp_info(self):
        print("emp name is Deva")
e1=employee()
e1.emp_info()
e1.company_details()
e1.company_policy()

print("---------------------------")
# creating object for parent

c1=company()
c1.company_policy()

emp name is Deva
Company name is Feuji
Company Loc is Hydrabad
Feuji has 5 branches
---------------------------
Feuji has 5 branches

#  Multi-level inheritance

In [76]:
class colleage:
    def colleageDetails(self):
        print("Colleage Name is CBIT")
        print("Colleage with A grade")
class Branch(colleage):
    def branches(self):
        print("Branch name is  Mechanical")
class CSE(Branch):
    def std(self):
        print("CSE branch has 60+ students")

c1=colleage()
c1.colleageDetails()
print("--------------------")
c2=CSE()
c2.colleageDetails()
c2.branches()

Colleage Name is CBIT
Colleage with A grade
--------------------
Colleage Name is CBIT
Colleage with A grade
Branch name is  Mechanical

# Multiple inheritance

In [79]:
class project:
    def project1(self):
        print("Trainee management")
class project2:
    def project2(self):
        print("Online Exam portal")
class project3:
    def project3(self):
        print("Krupal airlines")
class teams(project,project2,project3):
    def allprojects(self):
        print("Projects Successfully completed")
p3=project3()
p3.project3()

print("----------------------")

t1=teams()
t1.project1()
t1.project2()
t1.project3()

Krupal airlines
----------------------
Trainee management
Online Exam portal
Krupal airlines

#  Heirarchical inheritance

In [84]:
# Single parent has multiple childrens

class Branch:
    def branch_name(self):
        print("there are 10 branches")
class CSE(Branch):
    def cse(self):
        print("CSE has 100 people")
class MECH(Branch):
    def mech(self):
        print('Mech has 35 people')
class CIVIL(Branch):
    def civil(self):
        print("CIVIL has 20 people")
b1=Branch()
b1.branch_name()
print("-----------------------")
c1=CIVIL()
c1.civil()
c1.branch_name()

there are 10 branches
-----------------------
CIVIL has 20 people
there are 10 branches

#  Hybrid Inheritance

In [85]:
# it is the combination of multiple types of inheritance
#  it is combination if 2 or more types of inheritance

In [89]:
class colleage:
    def colleageName(self):
        print("Colleage Name is CBIT")
class Branch(colleage):
    def branch(self):
        print("Branch name is Mechanical")
class CSE(Branch):
    def cse(self):
        print("It is CSE branch")
class MECH(Branch):
    def mech(self):
        print("it is mechanical branch")
class ECE(Branch):
    def ece(self):
        print("it is mechanical branch")
e1=ECE()
e1.colleageName()
print("-------------------------")
b1=Branch()
b1.colleageName()

Colleage Name is CBIT
-------------------------
Colleage Name is CBIT

# Polymorphism

In [1]:
# single entity having multiple forms is know as polymorphism
# there 2 types of polymorphism
# i)overloading
# ii)overriding
# in overloading we have 3 types 
# i)operator overloading
# ii)method overloading
# iii) constructor overloading

# in overriding we have 2 types
# i)method overriding
# ii) constructor overriding

#  Operator overloading

In [5]:
class operatorOvearloading:
    def __init__(self,pages):
        self.pages=pages
    def __add__(self,other):
        return self.pages+other.pages
o1=operatorOvearloading(10)
o2=operatorOvearloading(20)
print(o1+o2)

30

In [15]:
class demo:
    def __init__(self,num):
        self.num=num
    def __mul__(self,other):
        return self.num*other.num
d1=demo(10)
d2=demo(20)
print(d1*d2)

200

#  method overloading

In [17]:
class overloading:
    def add(self,a,b):
        print(a+b)
    def add(self,a,b,c):
        print(a+b+c)
    def add(self,a,b,c,d):
        print(a+b+c+d)
o1=overloading()
o1.add(10,20,30,40)

100

In [19]:
# example 2

class overloading2:
    def add(self,a=0,b=0):
        print(a+b)
    def add(self,a=0,b=0,c=0):
        print(a+b+c)
    def add(self,a=0,b=0,c=0,d=0):
        print(a+b+c+d)
        
o1=overloading2()
o1.add(10,20,30)

60

In [21]:
# variable length parameter
class methodOverloading:
    def add(self,*n):
        print(n)
        sum=0
        for i in n:
            sum=sum+i
            print(sum)
m1=methodOverloading()
m1.add(10,20,30,40)

(10, 20, 30, 40)
10
30
60
100

#  Constructor overloading

In [22]:
class constructorOverloading:
    def __init__(self,a,b):
        print(a)
        print(b)
    def __init__(self,a,b,c):
        print(a)
        print(b)
        print(c)
    def __init__(self,a,b,c,d):
        print(a)
        print(b)
        print(c)
        print(d)
c=constructorOverloading(10,20)

TypeError: __init__() missing 2 required positional arguments: 'c' and 'd'

In [23]:
# for this error we use variable length parameters

class constructorOverloading2:
    def __init__(self,a=0,b=0):
        print(a)
        print(b)
    def __init__(self,a=0,b=0,c=0):
        print(a)
        print(b)
        print(c)
    def __init__(self,a=0,b=0,c=0,d=0):
        print(a)
        print(b)
        print(c)
        print(d)
        
c1=constructorOverloading2(10,20)

10
20
0
0

In [27]:
# variable length parameter

class variableLength:
    def __init__(self,*n):
         for i in n:
                print(i)
c=variableLength(10,20,30)

10
20
30

#  Overriding

In [28]:
# overriding parent method logic in child class is called overriding
# there are 2 types of overriding
# i) method overriding
# ii) constructor overriding

In [31]:
class colleage:
    def colleageDetails(self):
        print("Colleage name is CBIT")
        print("Colleage loc is HYD")
class Student(colleage):
    def colleageDetails(self):
        print("Colleage name is SVN")
        print("Colleage loc is HYD")
c1=colleage()
c1.colleageDetails()
print("-------------------")

s1=Student()
s1.colleageDetails()

Colleage name is CBIT
Colleage loc is HYD
-------------------
Colleage name is SVN
Colleage loc is HYD

In [32]:
# by default it is losing parent class properties 
# to get parent class properties we use super()

In [34]:
class colleage:
    def colleageDetails(self):
        print("hello")
        print("world")
class demo(colleage):
    def details(self):
        super().colleageDetails()
        print("ABC")
c1=demo()
c1.details()

hello
world
ABC

#  Constructor Overriding

In [41]:
class colleage:
    def __init__(self,cname,cloc):
        self.cname=cname
        self.cloc=cloc
    def getDetails(self):
        print("Colleage name :",self.cname)
        print("Colleage loc:",self.cloc)
class student(colleage):
    def __init__(self,sname,sage,cname,cloc):
        super().__init__(cname,cloc)
        self.sname=sname
        self.sage=sage
    def getStudentDetails(self):
        print("Student Name :",self.sname)
        print("Student Age:",self.sage)
        print("Colleage Name :",self.cname)
        print("Colleage Loc :",self.cloc)
s1=student("Rahul",22,"CBIT","HYD")
s1.getStudentDetails()

Student Name : Rahul
Student Age: 22
Colleage Name : CBIT
Colleage Loc : HYD

# Abstraction

In [3]:
from abc import *
class Bank:
    @abstractmethod
    def bank_details(self,bname,bloc):
        pass
    @abstractmethod
    def withdraw(self,amnt):
        pass
class HDFC(Bank):
    def bank_details(self,bname,bloc):
        print("Bank name is :",bname)
        print("Bank loc is :",bloc)
    def withdraw(self,amnt):
        print("Amount is :",amnt)
h1=HDFC()
h1.bank_details("Andhra Bank","Vzg")
h1.withdraw(1000)

Bank name is : Andhra Bank
Bank loc is : Vzg
Amount is : 1000

# Interface

In [10]:
# A class with all abstract methods is know as interface

class demo:
    @abstractmethod
    def manager_info(self,mname,mloc):
        pass
    @abstractmethod
    def manager_role(self,mrole):
        pass
class demo2(demo):
    def manager_info(self,mname,mloc):
            print("Manage name is :",mname)
            print("Manager loc is:",mloc)
    def manager_role(self,mrole):
        print("Manager role in Project",mrole)
d=demo2()
d.manager_info("Vishwak","Hydrabad")
d.manager_role("Tester")

Manage name is : Vishwak
Manager loc is: Hydrabad
Manager role in Project Tester

# Encapsulation

In [11]:
class Student:
    def __init__(self,name,age):
        self.__name=name
        self.__age=age
    def display(self):
        print("name of the Student is:",self.__name)
        print("Age of the Student is :",self.__age)
s=Student("Jeeva",22)
s.display()

name of the Student is: Jeeva
Age of the Student is : 22

#  DB connection

In [3]:
import sqlite3
conn=sqlite3.connect("student.db")
sql="create table student(stdid INT PRIMERY KEY NOT NULL,stdName TEXT NOT NULL,stdMarks INT NOT NULL)"

conn.execute(sql)
conn.commit()
conn.close()
print("Table created Successfully")

Table created Successfully

In [4]:
import sqlite3
conn=sqlite3.connect("student.db")
sql="insert into student (stdid,stdName,stdMarks) values(1,'shiva',96)"
conn.execute(sql)
conn.commit()
conn.close()
print("Record inserted Successfully")

Record inserted Successfully

# Inserting Multiple records

In [10]:
import sqlite3
conn=sqlite3.connect("student.db")
val=[(2,"Hari",70),(3,"Ivan",65)]
sql="insert into student(stdid,stdName,stdMarks) values (?,?,?)"
conn.executemany(sql,val)
conn.commit()
conn.close()
print("Record inserted Successfully")

Record inserted Successfully

In [18]:
import sqlite3
conn=sqlite3.connect("student.db")
cursor=conn.execute("select * from student")
for row in cursor.fetchall():
    print('student id :',row[0],
         'student Name:',row[1],
         'student Marks:',row[2])
cursor.close()
conn.close()

student id : 1 student Name: shiva student Marks: 96
student id : 2 student Name: Hari student Marks: 70

#  Fetching particular records

In [15]:
import sqlite3
conn=sqlite3.connect("student.db")
cursor=conn.execute("select * from student")
for row in cursor.fetchmany(2):
    print("student id:",row[0],
         "student Name:",row[1],
         "student Marks:",row[2])
cursor.close()
conn.close()

student id: 1 student Name: shiva student Marks: 96
student id: 2 student Name: Hari student Marks: 70

#  Delete Record

In [19]:
import sqlite3
conn=sqlite3.connect("student.db")
sql="delete from student where stdid=3"
cur=conn.cursor()
cur.execute(sql)
conn.commit()
conn.close()
conn.close()
print("Deleted Successfully")

Deleted Successfully

# Update record

In [20]:
import sqlite3
conn=sqlite3.connect("student.db")
cur=conn.cursor()
sql="update student set stdName='viraj' where stdid=1"
cur.execute(sql)
conn.commit()
cur.close()
conn.close()
print("Record Updated Successfully")

Record Updated Successfully